{% extends "base.html" %}

{% load static %}

{% block content %}
	<div class="reg-container">
		<img src="{% static 'img/user.png' %}" class="legend">
		<h1 class="white center">Board Registration</h2>

		<div>
			<form action="" method="post">
				{% csrf_token %}
				<span class="sub-topic">Role</span>
				<div class="paymet">
					<input type="radio" name="role" value="read" checked> <span class="white">Read</span>
					<input type="radio" name="role" value="write"> <span class="white">Write</span>
				</div>
				<br>

				<div class="lg-rol">
					<div class="col-6-lg">
						<label>Username</label>
						<input type="text" name="username" placeholder="Choose Username" required>
					</div>
				</div>
				<div class="rol-1">
					<div class="sm-rol-2">
						<div class="col-6">
							<label>First name</label>
							<input type="text" name="first_name" placeholder="Enter First name" required>
						</div>
					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Last name</label>
							<input type="text" name="last_name" placeholder="Enter Last name" required>
						</div>
					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Email</label>
							<input type="email" name="email" placeholder="Enter Email" required>
						</div>
					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Password</label>
							<input type="password" name="password" placeholder="Choose Password" required>
						</div>
					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Confirm Password</label>
							<input type="password" name="password2" placeholder="Confirm Password" required>
						</div>
					</div>

					<div class="sm-rol-2">
						<div class="col-6">
							<label>Pin</label>
							<input type="password" name="pincode" placeholder="Enter creation pin" required>
						</div>
					</div>
				</div>
				<input type="submit" value="Register" class="regsubmit">
			</form>
		</div>
	</div>
{% endblock %}